# This workflow will build the branch with Maven.
# Only if it is NOT main

name: Java build with Maven

on:
  push:
    branches-ignore: 
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
    - uses: mwensveen-nl/github-action/build@main
      with:
        java-version: '21'
        github-token: ${{ secrets.MAVEN_REPO_READ }}
      shell: bash