# This workflow will create a Pull Request when a new branch is created in github

name: Create PR for a new branch

on:
  push:
    branches-ignore: 
      - "main"

jobs:
  createPR:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
    - uses: mwensveen-nl/github-action/createPR@main
