# This workflow will build a Java project with and deploys it to the github repository

name: Deploy new version

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
    - uses: mwensveen-nl/github-action/deploy@main
      with:
        java-version: '21'
        github-token: ${{ secrets.MAVEN_REPO_WRITE}}

